/* open-sans-regular - latin - modern browsers  */
@font-face {
  font-family: "Changa";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("css/fonts/Changa-VariableFont_wght.ttf") format("ttf"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}

body {
  line-height: 1.8;
  font-family: "Changa", sans-serif;
  text-transform: capitalize;
  font-weight: 400;
}

html {
  margin: 0;
  padding: 0;

  --link-hover-focus: #344f4d;
  --bg: #eeeeee;
  --bg-top-navbar: #b3bbbe;
  --bg-side-navbar: #344f4d;

  --color-more-button: #344f4d;

  --color-text-table-header: #ffffff;
  --bg-text-table-header: #344f4d;
  --color-text-table-body: #344f4d;

  --bg-color-sidebar-menu: #fff;
  --color-text-sidebar-menu: #344f4d;
  --border-right-sidebar-menu: 5px solid #344f4d !important;
  --border-sidebar-menu: 1px solid #dcd9d9;

  --color-text-dropdown-menu: #344f4d !important;
  --color-active-hover-dropdown-menu: #344f4d !important;
  --bg-active-hover-dropdown-menu: #344f4d34 !important;

  --bg-dropdown-menu: #fff;
  --bg-dropdown-item: #344f4d34 !important;
  --color-text-dropdown-menu: #344f4d;
  --color-border-top-dropdown-menu: 5px solid #1f3331 !important;

  --color-text-hover: #344f4d;

  --bg-notifications: #1f3331;
  --color-notifications: #ffffff;
  --border-notifications: 0px solid #b2bbbe;

  --card-footer-border: 1px solid #eee;
  --color-heading-card: #344f4d;
  --bg-card: #ffffff;
  --color-text-card: rgba(0, 0, 0, 0.87);

  --color-text-navbar-brand: #1f3332;

  --icon-color-sidebar: #ffffff;
  --icon-color-topbar: #344f4d;

  --color-icon-ststus-top: #344f4d;

  --color-text-sidebar: #ffffff;
  --color-text-topbar: #1f3332;
  --color-text: #344f4d;

  --color-headings: #1f3331;
  --color-title: #344f4d;

  --color-onHaver: #b3bbbe;
  --bg-sidebar-actve: rgba(31, 51, 49);
  --color-sidebar-actve: #ffffff;
  --bg-topbar-actve: rgba(0, 0, 0, 0.09);
  --color-topbar-actve: #344f4d;

  --color-text-info: #344f4d;

  --color-text-copyright: #344f4d !important;

  --color-text-btn-normal:#344f4d;
}

html[data-theme="dark"] {
  --link-hover-focus: #1f3331;
  --bg: #1f3331;
  --bg-top-navbar: #344f4d;
  --bg-side-navbar: #485b5b;
  --bg-card: #b3bbbe;

  --color-more-button: #ffffff;

  --color-text-table-header: #ffffff;
  --bg-text-table-header: #344f4d;
  --color-text-table-body: #344f4d;

  --bg-color-sidebar-menu: #1f3331;
  --color-text-sidebar-menu: #ffffff;
  --border-right-sidebar-menu: 5px solid #ffffff !important;
  --border-sidebar-menu: 1px solid #1f3331;

  --color-text-dropdown-menu: #ffffff !important;
  --bg-dropdown-item: rgba(238, 238, 238, 0.295) !important;
  --color-active-hover-dropdown-menu: #ffffff !important;
  --bg-active-hover-dropdown-menu: rgba(238, 238, 238, 0.295) !important;

  --bg-dropdown-menu: #1f3331;
  --color-text-dropdown-menu: #ffffff;
  --color-border-top-dropdown-menu: 5px solid #ffffff !important;

  --bg-notifications: #1f3331;
  --color-notifications: #ffffff;
  --border-notifications: 0px solid #b2bbbe;

  --card-footer-border: 1px solid #344f4d;

  --color-text-hover: #fff;

  --color-text-navbar-brand: #eee;

  --icon-color-sidebar: #ffffff;
  --icon-color-topbar: #fff;

  --color-icon-ststus-top: #ffffff;

  --color-text-sidebar: #ffffff;
  --color-text-topbar: #eee;
  --color-text: #fff;

  --color-headings: #344f4d;
  --color-title: #344f4d;

  --color-onHaver: #b3bbbe;
  --bg-sidebar-actve: rgba(31, 51, 49);
  --color-sidebar-actve: #ffffff;
  --bg-topbar-actve: rgba(238, 238, 238, 0.295);
  --color-topbar-actve: #344f4d;

  --color-text-info: #ffffff;

  --color-text-copyright: #344f4d !important;

  --color-text-btn-normal:#ffffff !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4 {
  font-weight: 400;
  line-height: 1.5em;
  color: var(--color-title);
}

p {
  font-size: 15px;
  margin: 12px 0 0;
  line-height: 24px;
  color: var(--color-text);
}

a {
  color: #333;
  font-weight: 400;
}

button:focus {
  box-shadow: none;
  outline: none;
  border: none;
}
button {
  cursor: pointer;
}

ul,
ol {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

a,
a:hover,
a:focus {
  color: var(--link-hover-focus);
  text-decoration: none;
  transition: all 0.3s;
}

/*============================================================================
   Primary Button Style
==============================================================================*/

.btn-outline-primary {
  color: #344f4d !important;
  border-color: #344f4d !important;
}
.btn-outline-primary:hover {
  color: #fff !important;
  background-color: #344f4d !important;
}

.btn-primary {
  color: #fff !important;
  background-color: #344f4d !important;
  border: 0;
}
.btn-primary:hover {
  color: #fff !important;
  background-color: #385a58 !important;
  border: 0;
}

/*============================================================================
   Light / Dark Mode switch style
==============================================================================*/

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

footer label {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: #109856;
  float: right;
  border-radius: 100px;
  position: relative;
}

footer label:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: var(--color-headings);
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

footer label:active:after {
  width: 45px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}
.title-type {
  padding-left: 10px;
}
/*============================================================================
   Material-icons font-style
==============================================================================*/

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(/fonts/MaterialIcons-Regular.woff2) format("woff2"),
    url(/fonts/MaterialIcons-Regular.woff) format("woff"),
    url(/fonts/MaterialIcons-Regular.ttf) format("truetype");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

/*============================================================================
   Material-icons font-style End
==============================================================================*/

.wrapper {
  position: relative;
  width: 100%;
  overflow: auto;
}

/*============================================================================
   sidebar style start
==============================================================================*/

#sidebar {
  position: fixed;
  height: 100vh !important;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
  width: 260px;
  overflow: auto;
  transition: all 0.3s;
  background-color: var(--bg-side-navbar);
  box-shadow: 0 10px 30px -12px rgba(0 0 0 / 42%),
    0 4px 25px 0px rgba(0 0 0 / 12%), 0 8px 10px -5px rgba(0 0 0 / 20%);
}

#sidebar::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
  background-color: #eee;
  display: none;
}

#sidebar::-webkit-scrollbar-thumbs {
  width: 5px;
  border-radius: 10px;
  background-color: #333;
  display: none;
}

#sidebar:hover::-webkit-scrollbar {
  display: block;
}
#sidebar:hover::-webkit-scrollbar-thumbs {
  display: block;
}

#sidebar .sidebar-header {
  padding: 20px;
  background-color: var(--bg-side-navbar);
}

.sidebar-header h3 {
  color: var(--color-text-sidebar);
  font-size: 17px;
  margin: 0;
  text-transform: uppercase;
  transition: all 0.5s ease;
  font-weight: 600;
}

.sidebar-header h3 img {
  width: 45px;
  margin-left: 10px;
}

#sidebar ul li {
  padding: 2px 7px;
}
#sidebar ul li.active > a {
  color: var(--color-text-sidebar);
  background-color: var(--bg-sidebar-actve);
}
#sidebar ul li a:hover {
  color: var(--color-text-sidebar);
  background-color: rgba(255, 251, 251, 0.2);
}

/*============================================================================
   dropdown-toggle
==============================================================================*/

.dropdown .dropdown-toggle::after {
  position: absolute;
  left: 10px;
  top: 23px;
}

/*============================================================================
   End dropdown-toggle
==============================================================================*/

#sidebar ul li.dropdown {
  position: sticky;
}
#sidebar ul li.component {
  padding: 20px 0;
}

#sidebar ul li a {
  padding: 10px;
  line-height: 30px;
  border-radius: 0px;
  font-size: 15px;
  position: relative;
  font-weight: 400;
  display: block;
  color: #ffffff;
}


#sidebar ul li span {
  text-transform: capitalize;
  display: inline-block;
}
#sidebar ul li a i {
  position: relative;
  margin-left: 10px;
  top: 5px;
  color: #ffffff;
  margin-right: 10px;
}

.dropdown .list-unstyled li a{
  padding-right: 66px !important;
}
/*============================================================================
   sidebar style End
==============================================================================*/

/*============================================================================
   main-content navbar-design start
==============================================================================*/

#content {
  position: relative;
  transition: all 0.3s;
  background-color: #eee;
}

.top-navbar {
  width: 100%;
  z-index: 9;
  position: relative;
}

.main-content {
  padding: 10px 20px 0px 20px;
  position: relative;
  width: 100%;
}

.navbar {
  background-color: var(--bg-top-navbar);
  color: var(--color-text-topbar) !important;
  padding-left: 9px;
}

.navbar-brand {
  color: var(--color-text-navbar-brand);
  font-weight: bold;
  padding-right: 10px;
}

.navbar button {
  background-color: transparent;
  border: none;
}

.navbar button span {
  color: var(--color-more-button);
}
#sidebar-collapse {
  border-radius: 0;
  text-align: center;
  margin-right: 20px;
  border: none;
  color: var(--icon-color-topbar);
  background-color: var(--bg-topbar-actve);
}

#sidebar-collapse span {
  margin: 9px;
  padding: 0px;
}

.navbar-nav > li.active {
  color: #344f4d;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.08);
}

.navbar .notifications {
  position: absolute;
  top: 0px;
  left: 26px;
  display: block;
  font-size: 9px;
  border: var(--border-notifications);
  font-size: 10px;
  background-color: var(--bg-notifications);
  min-width: 15px;
  text-align: center;
  padding: 10px 7px;
  height: 17px;
  border-radius: 0px;
  line-height: 5px;
  color: var(--color-notifications);
}

.navbar-nav > li.show .dropdown-menu {
  transform: translate3d(0, 0, 0);
  opacity: 1;
  visibility: visible;
}

.dropdown-menu li > a {
  font-size: 13px;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 2px;
  font-weight: 400;
  transition: all 150ms linear;
}

.navbar-nav > .active > a:focus {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.08);
}

.navbar-nav li a {
  position: relative;
  display: block;
  padding: 10px 15px !important;
}

.nav-link {
  color: var(--icon-color-topbar) !important;
}
.nav-item {
  color: var(--icon-color-topbar) !important;
  border-radius: 0px;
}
.nav-item:hover {
  background-color: var(--bg-topbar-actve);
  border-radius: 0px;
}
.nav-item:focus {
  background-color: var(--bg-topbar-actve);
  border-radius: 0px;
}
.nav-item.active {
  background-color: var(--bg-topbar-actve);
  border-radius: 0px;
}

.dropdown-item a {
  color: var(--color-text-dropdown-menu) !important;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: var(--bg-topbar-actve) !important;
  color: var(--color-text) !important;
}
.dropdown-item a:focus,
.dropdown-item a:hover {
  color: var(--color-text-hover) !important;
}

.nav-item .dropdown-toggle::after {
  display: none;
}

/*============================================================================
   main-content navbar-design End
==============================================================================*/


/*============================================================================
   Dropup Button Top in Chart Cart Start
==============================================================================*/
/* Dropup Button */
.dropbtn {
  background-color:#344f4d;
  color: white;
  padding: 5px 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropup content */
.dropup {
  position: relative;
  display:inline-block;
}

/* Dropup content (Hidden by Default) */
.dropup-content {
  display: none;
  position: absolute;
  background-color: var(--bg-color-sidebar-menu) !important ;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: 10px;
  top:40px;
  color: var(--color-text-btn-normal);
}

/* Links inside the dropup */
.dropup-content a {
  color: var(--color-text-btn-normal);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

/* Change color of dropup links on hover */
.dropup-content a:hover {
  background-color:var(--bg-topbar-actve);
  
}

/* Show the dropup menu on hover */
.dropup:hover .dropup-content {
  display: block;
}

/* Change the background color of the dropup button when the dropup content is shown */
.dropup:hover .dropbtn {
  background-color:#1f3331 !important;
}
/*============================================================================
   Dropup Button Top in Chart Cart End
==============================================================================*/
/*============================================================================
   main-content  inner card design start
==============================================================================*/

.card {
  margin: 10px 0px;
}

.card {
  border-radius: 0px !important;
  position: relative;
  border: none;
  width: 100%;
  margin: 15px 0;
  box-shadow: 0 1px 2px rgba(0 0 0 / 8%);
  border-radius: 6px;
  color: var(--color-text-card);
  background-color: var(--bg-card);
  padding: 45px;
}

.card-stats .card-header {
  float: right;
  text-align: right;
}
.card .card-header {
  padding: 15px 20px 0;
  z-index: 3;
  border-bottom: 0px !important;
  background-color: var(--bg-card);
  border-radius: none;
  color: var(--color-heading-card);
}

.card .card-footer .stats .material-icons {
  position: relative;
  top: 4px;
  font-size: 16px;
}

.card .card-header span {
  font-size: 100px;
  line-height: 0px;
  
  
}

.icon.icon-status {
  color: var(--color-icon-ststus-top) !important;
}

.card .card-footer {
  margin: 0 7px 0px;
  padding-top: 10px;
  background-color: var(--bg-card);
  border-top: var(--card-footer-border);
}

.text-info {
  color: var(--color-text-info) !important;
}

.card-stats .card-content {
  text-align: left;
  padding-top: 10px;
}

.card .card-content {
  padding: 15px 20px;
  position: relative;
}

.card .card-content .category {
  margin-bottom: 0;
}

.card .category:not([class="text-"]) {
  color: #555555;
  font-size: 30px;
  font-weight: 400;
  padding-bottom: 14px;
}

.card .card-title:not(.card-calender .card-title) {
  margin-top: 0;
  margin-bottom: 5px;
}

.card-stats .card-title {
  margin: 0;
}

.card .card-footer .stats {
  line-height: 22px;
  color: #555555;
  font-size: 15px;
}

.card .card-footer div {
  display: inline-block;
}

.card .card-header-text h4 {
  margin: 0;
  margin-bottom: 3px;
  font-size: 19px;
  font-weight: 400;
  color: #222222;
  text-decoration: none;
}

.table > thead > tr > th {
  border-bottom: 1px;
  font-size: 16px;
  font-weight: 400;
}

.ard .card-content {
  padding: 15px 20px;
  position: relative;
}

.steamline .sl-primary {
  border-left-color: #188ae2;
}
.steamline .sl-item {
  position: relative;
  padding-bottom: 12px;
  border-right: 1px solid #ccc;
}

.steamline .sl-item:before {
  content: " ";
  position: absolute;
  right: -6px;
  background-color: #ccc;
  width: 12px;
  height: 12px;
  border-radius: 100%;
}

.steamline .sl-primary:before,
.steamline .sl-primary:last-child:after {
  background-color: #188ae2;
}

.steamline .sl-danger:before,
.steamline .sl-danger:last-child:after {
  background-color: #ff5b5b;
}

.steamline .sl-success {
  border-right-color: #10c469;
}

.steamline .sl-success:before,
.steamline .sl-success:last-child:after {
  background-color: #10c469;
}

.steamline .sl-warning {
  border-right-color: #f9cb51;
}

.steamline .sl-warning:before,
.steamline .sl-warning:last-child:after {
  background-color: #f9cb51;
}

.steamline .sl-danger {
  border-right-color: #ff5b5b;
}

.steamline .sl-item .sl-content {
  margin-right: 24px;
}
.steamline .sl-item .text-muted {
  color: inherit;
  opacity: 0.6;
  font-size: 12px;
}
.steamline .sl-item p {
  font-size: 14px;
  color: #333;
}

.bg-card{
  background-color: var(--bg-top-navbar) !important;
  padding: 0px !important;
}

/*============================================================================
   Table Header and Body
==============================================================================*/

.text-table-header {
  color: var(--color-text-table-header);
  background-color: var(--bg-text-table-header);
  padding: 10px 0px;
}

.text-table-body {
  color: var(--color-text-table-body);
  padding: 10px;
}

/*============================================================================
   main-content  inner card design End
==============================================================================*/

/*============================================================================
   footer design start
==============================================================================*/

.footer {
  border-top: 1px solid #e7e7e7;
}

footer {
  padding: 10px 0;
  position: relative;
  width: 100%;
}

footer ul li {
  color: inherit;
  padding: 15px;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}

footer .copyright {
  padding: 15px;
  font-size: 14px;
  margin: 0;
  color: var(--color-text-copyright);
}

/*============================================================================
   footer design End
==============================================================================*/

#sidebar.show-nav,
.body-overlay.show-nav {
  transform: translate(0%);
  opacity: 1;
  display: block;
  visibility: visible;
  z-index: 15;
}

/*============================================================================
   Madia querys start
==============================================================================*/

@media only screen and (min-width: 992px) {
  #sidebar.active {
    width: 80px;
    height: 100% !important;
    position: absolute !important;
    overflow: visible !important;
    top: 0;
    z-index: 666;
    float: right !important;
    bottom: 0 !important;
  }
  #sidebar.active .sidebar-header h3 span {
    display: none;
    transition: all 0.5s ease;
  }

  #sidebar.active ul li a span {
    display: none;
    transition: all 0.5s ease;
  }

  #sidebar.active .dropdown-toggle::after {
    display: none;
    transition: all 0.5s ease;
  }
  #content {
    width: calc(100% - 80px);
    position: relative;
    float: left;
    transition: all 0.3s;
    background-color: var(--bg);
  }
  #content.active {
    width: calc(100% - 260px);
  }

  #sidebar.active .menu {
    position: absolute;
    right: 90px;
    color: var(--color-text-sidebar-menu) !important;
    background-color: var(--bg-color-sidebar-menu) !important;
    width: 240px;
    height: auto;
    margin: 5px 0;
    top: 0;
    border: var(--border-sidebar-menu);
    border-right: var(--border-right-sidebar-menu);
    border-radius: 0px 0px 4px 4px;
    padding: 10px;
    z-index: 4;
  }

  #sidebar.active .menu {
    padding: 0;
  }
  #sidebar.active .menu li {
    padding: 0;
  }
  #sidebar.active .menu a {
    text-align: center;
    color: var(--color-text-dropdown-menu);
  }
  #sidebar.active .menu a:hover {
    color: var(--color-active-hover-dropdown-menu);
    text-align: center;
    background-color: var(--bg-active-hover-dropdown-menu);
    border-radius: 0;
  }

  .dropdown-menu {
    color: var(--color-text-dropdown-menu);
    border: 0;
    box-shadow: 0 2px 5px 0 rgba(0 0 0 / 26%);
    transform: translate3d(0, 10px, 0);
    visibility: visible;
    transition: all 150ms linear;
    min-width: 15rem;
    left: 10px;
    right: auto;
    top: 58px;
    opacity: 1;
    border-top: var(--color-border-top-dropdown-menu);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--bg-dropdown-menu);
    animation: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  

  
  .menu {
    padding: 5px 0px !important;
    background-color: rgba(31, 51, 49);
  }
}

@media only screen and (max-width: 992px) {
  #sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 10;
    width: 260px;
    transform: translateX(100%);
    transition: all 150ms linear;
    box-shadow: none !important;
  }
  .navbar-brand {
    padding-right: 22px;
  }
  .body-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    z-index: 3;
    transition: all 150ms linear;
    opacity: 0;
    z-index: 3;
    transition: all 150ms linear;
    background-color: rgba(0, 0, 0, 0.5);
  }
  #content {
    background-color: var(--bg);
  }
}
